<head>
  <meta charset="UTF-8" />
  <title>주니어스토리</title>
  <link rel="icon" type="image/png" href="images/icons/favicon.png" />
  <link rel="stylesheet" type="text/css" href="css/home.css" />
  <link type="text/css" rel="stylesheet" href="css/jquery.ui.css"></link>
  <link type="text/css" rel="stylesheet" href="css/default.css"></link>
  <script type="text/javascript" src="js/extras/all.js"></script>
  <script type="text/javascript" src="js/lib/hash.js"></script>
  <script type="text/javascript" src="js/lib/turn.min.js"></script>
  <script type="text/javascript" src="js/lib/zoom.min.js"></script>
  <script type="text/javascript" src="js/lib/bookshelf.js"></script>
</head>
