<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />

  <title>주니어스토리</title>
  <meta content="" name="description" />
  <meta content="" name="keywords" />

  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/samples/threejs/story/css/story1.css" />
  <script
    type="text/javascript"
    src="/samples/threejs/story/examples/libs/stt.js"
  ></script>
  <script
    type="module"
    src="/samples/threejs/story/examples/libs/story1.js"
    defer
  ></script>

  <link href="css/storyMain.css" rel="stylesheet" />

  <!-- Favicons -->
  <link href="images/icons/favicon.png" rel="icon" />

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Dosis:300,400,500,,600,700,700i|Lato:300,300i,400,400i,700,700i"
    rel="stylesheet"
  />

  <!-- vendorMain CSS Files -->
  <link href="vendorMain/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  <link
    href="vendorMain/bootstrap-icons/bootstrap-icons.css"
    rel="stylesheet"
  />
  <link href="vendorMain/boxicons/css/boxicons.min.css" rel="stylesheet" />
  <link href="vendorMain/glightbox/css/glightbox.min.css" rel="stylesheet" />
  <link href="vendorMain/swiper/swiper-bundle.min.css" rel="stylesheet" />

  <!-- Template Main CSS File -->
  <link href="css/stylesMain.css" rel="stylesheet" />

  <!-- vendorMain JS Files -->
  <script src="vendorMain/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="vendorMain/glightbox/js/glightbox.min.js"></script>
  <script src="vendorMain/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="vendorMain/php-email-form/validate.js"></script>
  <script src="vendorMain/purecounter/purecounter.js"></script>
  <script src="vendorMain/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="js/mainPage.js"></script>
</head>
