<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>유저목록</title>

    <style type="text/css">
      li {
        list-style: none;
        float: left;
      }
    </style>
  </head>

  <body>
    <div>
      <div style="padding: 10px; text-align: center">
        <h1>
          <a th:href="@{/user/list}" style="text-decoration: none"
            >유저목록</a
          >
        </h1>
      </div>

      <!--/* 타임리프 관련 태그에 내용이 없어도 무적권 에러ㅇㅅㅇ */-->

      <div>
        <table>
          <thead style="text-align: center">
            <tr>
              <th style="text-align: center">아이디</th>
              <th style="text-align: center">비밀번호</th>
              <th style="text-align: center">이름</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="data : ${testlist}">
              <td th:text="${data.id}"></td>
              <td th:text="${data.pw}"></td>
              <td th:text="${data.name}"></td>
            </tr>
          </tbody>
        </table>
      </div>
      <br /><br /><br />
    </div>
  </body>
</html>
