body,
ul,
table,
form {
  margin: 0;
  padding: 0;
}

.bookshelf-row {
  display: none;
}

.splash {
  width: 2000px;
  height: 1000px;
  overflow: hidden;
  margin: auto;
  position: relative;

  /* background: url(../pics/splash-bg.jpg) bottom left repeat-x; */

  -webkit-transition: height 1s;
  -moz-transition: height 1s;
  -ms-transition: height 1s;
  -o-transition: height 1s;
  transition: height 1s;
}

.splash .gradient {
  position: absolute;
  bottom: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 1000;
}

.no-transition {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}

.splash .center {
  width: 1000px;
  height: 700px;
  margin: auto;
  position: relative;
  z-index: 0;
}

.splash .details {
  float: left;
  margin-top: 150px;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.animate {
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  -ms-transition: -ms-transform 1s;
  -o-transition: -o-transform 1s;
  transition: transform 1s;
}

.icon {
  width: 22px;
  height: 22px;
  /* background-image: url(../pics/new-sprites.png); */
  display: flex;
  margin-right: 450px;
  margin-top: 50px;
}

.details .options .icon {
  display: block;
  float: left;
}

.zoom-in {
  background-position: -198px 0;
}

.zoom-out,
.zoom-out-hover {
  background-position: -220px 0;
  width: 44px;
  height: 44px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.zoom-in-hover {
  background-position: -198px -22px;
}

.zoom-out-hover {
  background-position: -264px 0;
}

.bookshelf {
  display: flex;
  justify-content: center;
  margin-top: 250px;

  -webkit-transform: scale(2); /*  크롬 */
  -moz-transform: scale(2); /* FireFox */
  -o-transform: scale(2); /* Opera */
  -ms-transition: scale(2);
}

.bookshelf .shelf {
  background: url(../pics/bookshelf.gif);
  background-size: 100%;
  width: 426px;
  height: 440px;
}

.bookshelf .shelf .row-1 {
  position: relative;
  width: 360px;
  height: 158px;
  margin-left: 33px;
}

.bookshelf .shelf .row-1:after,
.bookshelf .shelf .row-2:after {
  background: url(../pics/wall-bookshelf.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom left;
  width: 426px;
  height: 210px;
  display: block;
  content: "";
  margin-left: -38px;
}

.bookshelf .shelf .row-2 {
  position: relative;
  margin-top: 20px;
  height: 164px;
  width: 360px;
  margin-left: 33px;
}

.bookshelf .shelf .row-2:after {
  height: 216px;
}

.bookshelf .shelf .loc {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.bookshelf .shelf .loc > div {
  width: 33%;
  height: 100%;
  float: left;
  text-align: center;
  position: relative;
}

.bookshelf .sample,
.bookshelf-row .sample {
  margin: auto;
  position: relative;
  z-index: 1;

  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
  -ms-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);

  -webkit-transition: -webkit-transform 0.1s;
  -webkit-transform: translate(0, 0);
  -moz-transition: -moz-transform 0.1s;
  -moz-transform: translate(0, 0);
  -ms-transition: -ms-transform 0.1s;
  -ms-transform: translate(0, 0);
  -o-transition: -o-transform 0.1s;
  -o-transform: translate(0, 0);
  transition: transform 0.1s;
  transform: translate(0, 0);
}

.sample .loader {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 50%;
  left: 50%;
}

.sample .loader i {
  background: white url(../pics/loader.gif) 4px 4px no-repeat;
  position: relative;
  top: -16px;
  left: -16px;
  width: 32px;
  height: 32px;
  display: block;

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

.bookshelf .shelf .hover,
.bookshelf-row .hover,
.bookshelf .shelf .loading {
  z-index: 2;
  cursor: none;
  background-color: white;
  -webkit-transform: scale3d(1.1, 1.1, 1) translate3d(0, -5px, 0);
  -moz-transform: scale3d(1.1, 1.1, 1) translate3d(0, -5px, 0);
  -ms-transform: scale3d(1.1, 1.1, 1) translate3d(0, -5px, 0);
  -o-transform: scale3d(1.1, 1.1, 1) translate3d(0, -5px, 0);
  transform: scale3d(1.1, 1.1, 1) translate3d(0, -5px, 0);
}

.bookshelf .thumb1,
.bookshelf-row .thumb1 {
  background-image: url(../images/books/book1.jpg);
  width: 92px;
  height: 115px;
}

.bookshelf .thumb2,
.bookshelf-row .thumb2 {
  background-image: url(../images/books/book2.jpg);
  width: 87px;
  height: 115px;
}

.bookshelf .thumb3,
.bookshelf-row .thumb3 {
  background-image: url(../images/books/book3.jpg);
  width: 90px;
  height: 115px;
}

.bookshelf .thumb4,
.bookshelf-row .thumb4 {
  background-image: url(../images/books/book4.jpg);
  width: 97px;
  height: 125px;
}
.bookshelf .thumb5,
.bookshelf-row .thumb5 {
  background-image: url(../images/books/book5.jpg);
  width: 97px;
  height: 125px;
}

.bookshelf .thumb6,
.bookshelf-row .thumb6 {
  background-image: url(../images/books/book6.jpg);
  width: 104px;
  height: 125px;
}

.samples {
  width: 1250px;
  height: 700px;
  display: none;
  justify-content: center;
}

.show-samples .samples {
  display: block;
}

.samples .bar {
  height: 100px;
  width: 1000px;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.1s;
  -moz-transition: opacity 0.1s;
  -o-transition: opacity 0.1s;
  -ms-transition: opacity 0.1s;
  transition: opacity 0.1s;
}

.show-bar .bar {
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  -ms-transition: opacity 1s;
  transition: opacity 1s;
  opacity: 1;
}

.show-bar .details {
  display: none;
}

.show-bar .bookshelf {
  display: none;
}

.samples .quit {
  background-position: -44px 0;
  cursor: default;
  position: absolute;
  right: 0;
  top: 45px;
}

.samples .quit:hover {
  background-position: -66px 0;
}

#book-wrapper {
  width: 960px;
  height: 600px;
  display: flex;
  margin-left: 450px;
  margin-top: 50px;
}

header {
  width: 1000px;
  margin: 20px auto;
}

.content {
  width: 1000px;
  margin: auto;
  font-family: "helvetica neue", helvetica, arial;
}

.fixed .content {
  padding-top: 60px;
}

.content section {
  margin: 100px 0;
  font-size: 15px;
  color: #666;
}

.content li {
  padding: 2px;
  line-height: 30px;
}

.simple-sample:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}

.simple-sample .code {
  width: 400px;
  float: left;
}

.simple-sample .sample {
  width: 600px;
  line-height: 250px;
  float: left;
  text-align: center;
}

.simple-sample .sample a {
  cursor: pointer;
}
