<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="common/homeHead.html"> </head>
  <body>
    <p><span th:text="${session.user.username}"></span>님 환영합니다</p>
    <a href="logout"> Logout </a>
    <hr />
    <h1>음성 API 테스트</h1>

    <button id="speech" onclick="speech_to_text()">Start STT</button>
    <p id="message">버튼을 누르고 아무말이나 하세요.</p>

    <div class="textWrapper">
      <div id="korea" class="textbox"></div>
    </div>
    <div th:replace="stt.html"></div>

    <div class="splash">
      <div class="bookshelf">
        <div class="shelf">
          <div class="row-1">
            <div class="loc">
              <div><div class="sample thumb1" sample="steve-jobs"></div></div>
              <div><div class="sample thumb2" sample="html5"></div></div>
              <div><div class="sample thumb3" sample="docs"></div></div>
            </div>
          </div>
          <div class="row-2">
            <div class="loc">
              <div><div class="sample thumb4" sample="magazine1"></div></div>
              <div><div class="sample thumb5" sample="magazine2"></div></div>
              <div><div class="sample thumb6" sample="magazine3"></div></div>
            </div>
          </div>
        </div>
      </div>

      <!-- Samples-->
      <div class="samples">
        <div class="bar">
          <a class="icon quit"></a>
        </div>
        <div id="book-wrapper">
          <div id="book-zoom"></div>
        </div>
        <div id="slider-bar" class="turnjs-slider">
          <div id="slider"></div>
        </div>
      </div>
    </div>
  </body>
</html>
