<!-- <script
  type="text/javascript"
  src="https://code.jquery.com/jquery-3.3.1.js"
></script> -->
<script type="text/javascript">
  var message = document.querySelector("#message");
  var button = document.querySelector("#speech");
  var korea = document.querySelector("#korea");
  var english = document.querySelector("#english");
  var isRecognizing = false;

  if ("SpeechRecognition" in window) {
    // Speech recognition support. Talk to your apps!
    console.log("음성인식을 지원하는 브라우저입니다.");
  }

  try {
    //음성인식 부여
    var recognition = new (window.SpeechRecognition ||
      window.webkitSpeechRecognition ||
      window.mozSpeechRecognition ||
      window.msSpeechRecognition)();
  } catch (e) {
    console.error(e);
  }

  recognition.lang = "ko-KR";
  recognition.interimResults = false; //중간 결과가 반환되어야 하는지(true) 아니면 반환 되지 않아야 하는지 (false) 제어
  recognition.maxAlternatives = 5; // 결과당 제공되는 최대 s 수를 설정
  //recognition.continuous = true;

  function speech_to_text() {
    recognition.start(); //stt 시작
    isRecognizing = true;

    recognition.onstart = function () {
      console.log(
        "음성인식이 시작 되었습니다. 이제 마이크에 무슨 말이든 하세요."
      );
      message.innerHTML = "음성인식 시작...";
      button.innerHTML = "Listening...";
      button.disabled = true;
    };

    recognition.onspeechend = function () {
      //음성 인식 서비스에서 인식한 음성이 감지되지 않을 때
      recognition.stop(); //stt 정지 및 기본값 복귀
      message.innerHTML = "버튼을 누르고 아무말이나 하세요.";
      button.disabled = false;
      button.innerHTML = "Start STT";
    };

    recognition.onresult = function (event) {
      console.log("You said: ", event.results[0][0].transcript);
      // 결과를 출력
      var resText = event.results[0][0].transcript;
      korea.innerHTML = resText;

      if (resText == "체크포인트") korea.innerHTML = resText + " : PASS";
      // 포인트 일치시 이벤트 처리 가능해짐
      else korea.innerHTML = resText + " : FAIL"; // 포인트 일치시 이벤트 처리 가능해짐
    };
  }
</script>
