<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="common/testHead.html"> </head>

  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
      <div class="container d-flex align-items-center justify-content-between">
        <a href="home" class="logo"
          ><img src="images/icons/logo.png" alt="" class="img-fluid"
        /></a>
        <nav id="navbar" class="navbar">
          <a href="home"> 홈으로 </a>
          <a class="nav-link scrollto"
            ><a th:text="${session.user.username}"></a>&nbsp;님 환영합니다.</a
          >
          <a class="nav-link scrollto" href="logout">로그아웃</a>
        </nav>
        <!-- .navbar -->
      </div>
    </header>
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <h1>음성 API 테스트</h1>

    <div th:replace="stt.html"></div>
    <button id="speech" onclick="speech_to_text()">Start STT</button>
    <p id="message">버튼을 누르고 아무말이나 하세요.</p>

    <div class="textWrapper">
      <div id="korea" class="textbox"></div>
    </div>
    <!-- End Hero -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="container py-4">
        <div class="copyright">
          &copy; Copyright <strong><span>JuniorStory</span></strong
          >. All Rights Reserved
        </div>
        <div class="credits">
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
    </footer>
    <!-- End Footer -->

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>
  </body>
</html>
