<!DOCTYPE html>
<html lang="en">
  <head th:replace="common/testHead.html"> </head>
  <body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
      <div class="container px-5">
        <a class="navbar-brand" href="#page-top">JuniorStory</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link"
                ><span th:text="${session.user.username}"></span>님
                환영합니다.</a
              >
            </li>
            <li class="nav-item"><a class="nav-link" href="logout">로그아웃</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Header-->
    <header class="masthead text-center text-white">
      <!-- <div class="masthead-content">
        <div class="container px-5">
          <h1 class="masthead-heading mb-0">One Page Wonder</h1>
          <h1 class="masthead-heading mb-0">One Page Wonder</h1>
          <h1 class="masthead-heading mb-0">One Page Wonder</h1>
        </div>
      </div> -->
      <div class="splash">
        <div class="bookshelf">
          <div class="shelf">
            <div class="row-1">
              <div class="loc">
                <div><div class="sample thumb1" sample="steve-jobs"></div></div>
                <div><div class="sample thumb2" sample="html5"></div></div>
                <div><div class="sample thumb3" sample="docs"></div></div>
              </div>
            </div>
            <div class="row-2">
              <div class="loc">
                <div><div class="sample thumb4" sample="magazine1"></div></div>
                <div><div class="sample thumb5" sample="magazine2"></div></div>
                <div><div class="sample thumb6" sample="magazine3"></div></div>
              </div>
            </div>
          </div>
        </div>
        <div>
          
        </div>
        <!-- Samples-->
        <div class="samples">
          <div class="bar">
            <a class="icon quit"></a>
          </div>
          <div id="book-wrapper">
            <div id="book-zoom"></div>
          </div>
          <div id="slider-bar" class="turnjs-slider">
            <div id="slider"></div>
          </div>
        </div>
      </div>
    </header>
    <!-- Footer-->
    <footer class="py-5 bg-black">
      <div class="container px-5">
        <p class="m-0 text-center text-white small">
          Copyright &copy; JuniorStory 2021
        </p>
      </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
